name: Publish Package

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: CD
    name: "Publish library"
    steps:
      - name: Check out
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          fetch-depth: 0

      - name: Setup Python Env
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          pip install poetry dunamai
          poetry install --without dev

      - name: Set version
        run: |
          VERSION=$(dunamai from any --no-metadata --style pep440)
          poetry version $VERSION
          echo "__version__ = \"$VERSION\"" > indsl/_version.py

      - name: Build package
        run: poetry build

      - name: Release to PyPI
        run: |
          poetry publish -u __token__ -p ${{ secrets.PYPI_API_TOKEN }} || echo 'Version exists'
