name: Push JSON to Locize

on:
  workflow_dispatch:

jobs:
  push-locize:
    name: "Push JSON to Locize"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./translations
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
      with:
        python-version: '3.14'

    - name: Install dependencies
      run: |
        pip install poetry
        poetry install

    # Run create_translated_operations.py, -u to show output
    - name: Create translated operations json
      working-directory: ./translations
      env:
        LOCIZE_API_KEY: ${{ secrets.LOCIZE_API_KEY }}
        LOCIZE_PROJECT_ID: ${{ secrets.LOCIZE_PROJECT_ID }}
      run: |
        poetry run python -u create_translation_json.py
